//= require font-awesome

$spacing: 16px;
$half-spacing: 8px;

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'colors';
@import 'common';
@import 'navbar';
@import 'devise';
@import 'chapters';
@import 'guides';

#main-container {
  margin-bottom: $spacing;
}

a {
  color: $main-color;
}
a:hover {
  color: $main-color;
  text-decoration: none;
}
